/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('league_gothic/leaguegothic-italic-webfont.eot');
    src: url('league_gothic/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg'),
         url('league_gothic/leaguegothic-italic-webfont.woff') format('woff'),
         url('league_gothic/leaguegothic-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('league_gothic/leaguegothic-regular-webfont.eot');
    src: url('league_gothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg'),
         url('league_gothic/leaguegothic-regular-webfont.woff') format('woff'),
         url('league_gothic/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('league_gothic/leaguegothic-condensed-regular-webfont.eot');
    src: url('league_gothic/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg'),
         url('league_gothic/leaguegothic-condensed-regular-webfont.woff') format('woff'),
         url('league_gothic/leaguegothic-condensed-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'League Gothic Condensed';
    src: url('league_gothic/leaguegothic-condensed-italic-webfont.eot');
    src: url('league_gothic/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league_gothic/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg'),
         url('league_gothic/leaguegothic-condensed-italic-webfont.woff') format('woff'),
         url('league_gothic/leaguegothic-condensed-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', Arial, sans;
}

p,div {
    font-family: 'Droid Sans', sans
}



.dropshadow {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
} 


.blocklink a:link {
  color: #000000;


}
.nanograv-one {
  /*background: rgba(26,96,190,.9);*/
  background: rgba(32,83,120,.9);
  color: black;
}


.nanograv-two {
  /*background: rgba(36,114,195,.9);*/
  background: rgba(22,149,163,.9);
  color: black;
}

.nanograv-three {
  /*background: rgba(115,167,219,.9);*/ 
  background: rgba(172,240,242,.9);
  color: black;
}

.nanograv-four {
  /*background: rgba(72,119,42,.9);*/
  background: rgba(243,255,226,.9);
  color: black;
}

.nanograv-five {
 /*background: rgba(109,178,68,.9);*/
 background: rgba(235,127,0,.9);
 color: black;
}
.nanograv-six {
 background: rgba(249,246,137,.9);
 color: black;
}
.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap{
    overflow: hidden; 
}
